.footer {
  &__top {
    background-color: $purpleMainColor;
    padding: 35px 0px;
  }
  &__main {
  }
  &__row {
    margin: 0px -15px;
    display: flex;
    flex-wrap: wrap;
  }
  &__column {
    flex: 0 1 16.6667%;
    padding: 15px 15px;

    &:last-child {
      flex: 0 1 33.334%;
    }

    @media screen and (max-width: 992px) {
      & {
        flex: 0 1 25%;
      }
      &:last-child {
        flex: 0 1 100%;
      }
    }
    @media screen and (max-width: 700px) {
      & {
        flex: 0 1 50%;
      }
    }
  }
  &__label {
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;

    margin: 0px 0px 20px 0px;
  }
  &__menu {
  }
  &__contacts {
  }
  &__bottom {
    padding: 25px 0px;
  }
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 767px) {
      & {
        flex-direction: column;
      }
    }
  }
  &__copy {
    color: $fontColorMenu;
    line-height: 171%;
    @media screen and (max-width: 767px) {
      & {
        margin: 0px 0px 15px 0px;
        text-align: center;
      }
    }
  }
  &__social {
    display: flex;
    align-items: center;
  }
}
.menu-footer {
  &__list {
  }
  &__item {
    &:not(:last-child) {
      margin: 0px 0px 10px 0px;
    }
  }
  &__link {
    display: inline-block;
    color: #ffffff;
    line-height: 171%;
    letter-spacing: 0.2px;
    transition: 0.5s;
    &:hover {
      color: $tealMainColor;
    }
  }
}
.contacts-footer {
  display: flex;
  flex-direction: column;
  &__item {
    color: #ffffff;
    line-height: 142%;
    padding: 0px 0px 0px 34px;
    display: flex;
    align-items: center;
    min-height: 30px;
    &:not(:last-child) {
      margin: 0px 0px 12px 0px;
    }
    transition: 0.5s;
    &:hover {
      color: $YellowSubColor;
    }
    &_phone {
      background: url("../../img/icons/forFooter/phone.svg") 0 0 no-repeat;
    }
    &_map {
      background: url("../../img/icons/forFooter/map-pin.svg") 0 0 no-repeat;
    }
    &_email {
      background: url("../../img/icons/forFooter/send.svg") 0 0 no-repeat;
    }
  }
}
.social {
  &__item {
    &:not(:last-child) {
      margin: 0px 20px 0px 0px;
    }
  }
}
