// header styles
.header {
  &__container {
  }
  &__body {
    display: flex;
    justify-content: space-between;
  }
  &__logo {
  }
  &__nav {
  }
  &__buttons {
    display: flex;
  }
  &__login {
    margin-right: 23px;
  }
  &__signUp {
  }
}

.navigation {
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin: 0px 53px 0px 0px;
    }
  }
}
