.main {
  &__heading {
  }
  &__partners {
  }
  &__about {
  }
  &__analytics {
  }
  &__serving {
  }
  &__software {
  }
  &__pricing {
  }
}

//  heading block
.heading {
  margin-bottom: 110px;
  @media screen and (max-width: 992px) {
    margin-top: 40px;
  }
  @media screen and (max-width: 769px) {
    margin-bottom: 30px;
  }
  @media screen and (max-width: 500px) {
    margin-bottom: 20px;
  }
  &__container {
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 768px) {
      display: block;
    }
  }
  &__info {
  }
  &__label {
    font-weight: 600;
    font-size: 54px;
    line-height: 150%;
    & span {
      background: linear-gradient(154.24deg, #3effc0 4.45%, #18ca90 83.73%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #0b2349;
      white-space: nowrap;
    }
    margin-bottom: 25px;

    @media screen and (max-width: 992px) {
      font-size: 45px;
    }
    @media screen and (max-width: 768px) {
      font-size: 35px;
      text-align: center;
      margin-bottom: 15px;
    }
    @media screen and (max-width: 504px) {
      font-size: 28px;
    }
  }
  &__text {
    font-size: 21px;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 30px;
    @media screen and (max-width: 992px) {
      font-size: 16px;
      margin-bottom: 60px;
    }
    @media screen and (max-width: 768px) {
      max-width: 530px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 60px;
    }
    @media screen and (max-width: 504px) {
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
  &__form {
    display: flex;
    max-width: 472px;
    padding: 6px 6px 6px 24px;
    filter: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 0.15));
    background-color: #ffffff;
    border-radius: 6px;
    margin-bottom: 35px;
    & input {
      width: 100%;
      opacity: 0.5;
      font-size: 18px;
      line-height: 150%;
      @media screen and (max-width: 504px) {
        font-size: 14px;
      }
    }
    @media screen and (max-width: 768px) {
      max-width: none;
    }
  }
  &__button {
    min-height: 53px;
    padding: 0px 33px;
    font-size: 21px;
    font-weight: 500;
    line-height: 147%;
  }
  &__link {
  }
  &__downloads {
    display: flex;
    & img {
      margin-right: 30px;
    }
    @media screen and (max-width: 768px) {
      justify-content: center;
    }
    @media screen and (max-width: 504px) {
      & img {
        margin-right: 15px;
      }
    }
  }

  &__image {
    margin-right: -220px;
    @media screen and (max-width: 1382px) {
      margin-right: 0px;
      max-width: 700px;

      & img {
        width: 100%;
      }
    }
  }
}
//-------------------------------

//  partners block

.partners {
  background-color: #f4fdfa;
  margin-bottom: 163px;

  @media screen and (max-width: 768px) {
    margin-bottom: 103px;
  }
  @media screen and (max-width: 576px) {
    margin-bottom: 50px;
  }
  &__container {
  }
  &__body {
    display: flex;
    justify-content: space-between;
    padding: 53px 0px;
    align-items: center;
    @media screen and (max-width: 700px) {
      padding: 20px 0px;
    }
  }
  &__item {
    max-width: 170px;

    @media screen and (max-width: 1000px) {
      padding: 0px 10px;
    }
  }
  &__icon {
    width: 100%;
  }
}

//-------------------------------

//  about block

.about {
  margin-bottom: 90px;
  &_askLink {
  }
  &__container {
  }
  &__body {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1190px) {
      display: block;
    }
  }
  &__blocks {
    display: flex;
    flex-flow: row wrap;
    margin-left: -80px;

    @media screen and (max-width: 1320px) {
      margin-left: 0px;
    }

    @media screen and (max-width: 1190px) {
      flex-wrap: nowrap;
    }
    @media screen and (max-width: 932px) {
      flex-wrap: wrap;
      max-width: 610px;
      margin: 0 auto;
      margin-top: 20px;
    }
    @media screen and (max-width: 646px) {
      display: block;
    }
  }
  &__info {
    max-width: 548px;
    @media screen and (max-width: 1320px) {
      padding-left: 20px;
    }
    @media screen and (max-width: 646px) {
      padding-left: 0px;
    }
  }
  &__label {
  }
  &__text {
    opacity: 0.7;
    margin-bottom: 29px;
    & p:not(:last-child) {
      margin-bottom: 16px;
    }

    @media screen and (max-width: 768px) {
      font-size: 16px;
    }
    @media screen and (max-width: 576px) {
      font-size: 15px;
    }
  }
  &__buttons {
    display: flex;
    align-items: center;
    @media screen and (max-width: 576px) {
      display: block;
    }
  }
  &__button {
    margin-right: 25px;
    background-color: #282323;
    font-size: 18px;
    line-height: 160%;
    font-weight: 500;
    padding: 15px 40px;
    @media screen and (max-width: 576px) {
      margin-bottom: 20px;
      margin-right: 0px;
    }
  }
  &__link {
  }
  &__askLink {
    font-size: 18px;
    line-height: 160%;
    color: #ff4d4d;
    @media screen and (max-width: 576px) {
    }
  }
}
.block {
  &__item {
    max-width: 282px;
    background: #ffffff;
    box-shadow: 0px 15px 65px rgba(65, 77, 68, 0.15);
    border-radius: 10px;
    padding: 35px 24px 36px 35px;
    margin: 15px 15px;
    @media screen and (max-width: 1320px) {
      max-width: 275px;
    }
    @media screen and (max-width: 1190px) {
      padding: 15px 14px 16px 15px;
    }
    @media screen and (max-width: 646px) {
      max-width: none;
      width: 100%;
      margin: 15px 0px;
    }
  }
  &__icon {
    margin-bottom: 25px;
    @media screen and (max-width: 1190px) {
      margin-bottom: 20px;
      text-align: center;
    }
  }
  &__label {
    font-weight: 600;
    font-size: 21px;
    line-height: 147%;
    opacity: 0.8;
    margin-bottom: 9px;
    @media screen and (max-width: 1190px) {
      text-align: center;
    }
  }
  &__text {
    font-size: 16px;
    line-height: 160%;
    @media screen and (max-width: 1190px) {
      font-size: 14px;
    }
    @media screen and (max-width: 1190px) {
      text-align: center;
    }
    @media screen and (max-width: 646px) {
      max-width: 200px;
      margin: 0 auto;
    }
  }
}
.settingsIcon img {
  box-shadow: 1px 5px 30px rgba(215, 21, 21, 0.5);
  border-radius: 13px;
}
.userIcon img {
  border-radius: 13px;
  box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
}
.shieldIcon img {
  border-radius: 13px;
  box-shadow: 1px 5px 30px rgba(238, 185, 42, 0.6);
}
.codeIcon img {
  border-radius: 13px;
  box-shadow: 1px 5px 30px rgba(230, 68, 214, 0.5);
}

//-------------------------------

//  about block

.analytics {
  &__container {
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 993px) {
      display: block;
    }
  }
  &__info {
  }
  &__label {
    @media screen and (max-width: 993px) {
      // text-align: center;
    }
  }
  &__text {
    opacity: 0.7;
    margin-bottom: 20px;
    max-width: 448px;
    @media screen and (max-width: 993px) {
      // margin: 0 auto;
      // text-align: center;
    }
    @media screen and (max-width: 457px) {
      font-size: 16px;
    }
  }
  &__list {
    @media screen and (max-width: 993px) {
      margin-top: 30px;
      max-width: 500px;
      margin: 0 auto;
      margin-top: 50px;
    }
  }
  &__item {
    opacity: 0.7;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
    &::before {
      content: "";
      width: 30px;
      height: 30px;
      background: url("../img/icons/ok.svg") left no-repeat;
      padding-left: 30px;
    }
    @media screen and (max-width: 457px) {
      font-size: 14px;
    }
    @media screen and (max-width: 373px) {
      font-size: 11.5px;
    }
  }
  &__image {
    margin-right: -190px;
    @media screen and (max-width: 1320px) {
      margin-right: 0px;
      max-width: 594px;
      & img {
        width: 100%;
      }
    }
    @media screen and (max-width: 993px) {
      margin: 0 auto;
    }
  }
}

//-------------------------------

//  serving block

.serving {
  @media screen and (max-width: 1363px) {
    margin-bottom: 80px;
  }
  &__container {
  }
  &__body {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 993px) {
      display: block;
      text-align: center;
    }
  }
  &__info {
    max-width: 499px;
    @media screen and (max-width: 993px) {
      margin: 0 auto;
    }
  }
  &__label {
  }
  &__text {
    opacity: 0.7;

    & p:not(:last-child) {
      margin-bottom: 15px;
    }
    @media screen and (max-width: 569px) {
      font-size: 16px;
    }
    @media screen and (max-width: 389px) {
      font-size: 14px;
    }
  }
  &__image {
    margin-left: -220px;

    @media screen and (max-width: 1363px) {
      margin-left: 0px;
      max-width: 591px;
      & img {
        width: 100%;
      }
    }
    @media screen and (max-width: 993px) {
      margin: 0 auto;
    }
  }
}

//-------------------------------

//  software block

.software {
  background-color: #f4fdfa;
  margin-bottom: 117px;
  @media screen and (max-width: 993px) {
    margin-top: -120px;
    margin-bottom: 47px;
  }
  &__container {
  }
  &__body {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 993px) {
      display: block;
      padding: 35px 0px;
      text-align: center;
    }
  }
  &__info {
  }
  &__label {
  }
  &__text {
    opacity: 0.7;
    margin-bottom: 30px;
    max-width: 480px;
    & p:not(:last-child) {
      margin-bottom: 20px;
    }
    @media screen and (max-width: 993px) {
      margin: 0 auto;
      margin-bottom: 30px;
    }
    @media screen and (max-width: 483px) {
      font-size: 14px;
    }
  }
  &__button {
    display: inline-flex;
    padding: 15px 33px;
    font-size: 20px;
    line-height: 160%;
    font-weight: 500;
    @media screen and (max-width: 993px) {
      display: block;
      margin: 0px 30px;
    }
  }
  &__image {
    margin-top: -100px;
    margin-right: -150px;

    @media screen and (max-width: 1469px) {
      margin-right: -50px;
    }
    @media screen and (max-width: 1283px) {
      margin-right: 0px;
    }
    @media screen and (max-width: 1219px) {
      margin-top: 0px;
      max-width: 500px;
      & img {
        width: 100%;
      }
    }
    @media screen and (max-width: 993px) {
      display: none;
    }
  }
}

//-------------------------------

//  pricing block

.pricing {
  &__container {
  }
  &__body {
    text-align: center;
  }
  &__label {
  }
  &__text {
    max-width: 754px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 170%;
    opacity: 0.7;
    margin-bottom: 36px;

    @media screen and (max-width: 483px) {
      font-size: 14px;
    }
  }
  &__term {
    display: flex;

    justify-content: center;
  }
  &__save {
    margin-top: 20px;
    margin-bottom: 26px;
    &::after {
      content: "";
      width: 80px;
      height: 80px;
      background: url("../../img/icons/arrow.svg") center no-repeat;
      padding: 20px 50px 0px 0px;
    }
  }
  &__range {
  }
  .slider {
    &__info {
      background-color: #3e3939;
      display: inline;
      padding: 5px 20px;
      border-radius: 3px;
      font-weight: 500;
      font-size: 17px;
      line-height: 80%;
      color: #ffffff;
    }
  }
}
#rangevalue {
  display: inline;
}

//== range slider ==

.slider {
  width: 100%;
}

input[type="range"] {
  -webkit-appearance: none !important;
  width: 100%;
  height: 15px;
  background: linear-gradient(154.24deg, #85fed6 4.45%, #4edaac 83.73%);
  background-blend-mode: luminosity;
  mix-blend-mode: normal;
  box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
  border-radius: 10px;
  margin: auto;
  transition: all 0.3s ease;
  margin-top: 20px;
}
input[type="range"]:hover {
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  box-shadow: 0px 0px 3px #3c6d59;
  transition: all 0.5s ease;
  background: linear-gradient(154.24deg, #85fed6 4.45%, #4edaac 83.73%);
  background-blend-mode: luminosity;
  mix-blend-mode: normal;
  border: 3px solid #ffffff;
  box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
  cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb:hover {
}
input[type="range"]::-webkit-slider-thumb:active {
}

#rangevalue {
  text-align: center;
  font-family: "Quantico", sans-serif;
  font-size: 18px;
  display: block;
  margin: auto;
  padding: 10px 0px;
  width: 100%;
  color: #579e81;
}

//==================

//==== switch ====
.switch-container {
  margin-right: 60px;
  padding: 0px 15px;
  #switch {
    display: none;
  }
  .switch-label {
    position: relative;
    cursor: pointer;
    margin: 0;
    .switch-rail {
      transition: all 0.2s ease-in-out;
      position: absolute;
      width: 60px;
      height: 30px;
      background: #e3342f;
      border-radius: 10%;
      overflow: hidden;
      .switch-slider {
        transition: all 0.2s ease-in-out;
        position: absolute;
        top: 4px;
        left: 4px;
        width: 22px;
        height: 22px;
        border-radius: 10%;
        background: #fff;
      }
    }
  }
  #switch:checked + .switch-label {
    .switch-rail {
      transition: all 0.2s ease-in-out;
      background: #43ddaa;
      .switch-slider {
        transition: all 0.2s ease-in-out;
        transform: translateX(30px);
      }
    }
  }
}
//================

//-------------------------------
#rangevalue {
  display: inline;
  font-weight: 500;
  font-size: 17px;
  line-height: 80%;
  color: #ffffff;
}
