.main {
  &__heading {
  }
}

//  heading block
.heading {
  &__container {
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__info {
  }
  &__label {
    font-weight: 600;
    font-size: 54px;
    line-height: 150%;
    & span {
      background: linear-gradient(154.24deg, #3effc0 4.45%, #18ca90 83.73%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: #0b2349;
    }
    margin-bottom: 25px;
  }
  &__text {
    font-size: 21px;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 30px;
  }
  &__form {
    display: flex;
    max-width: 472px;
    padding: 6px 6px 6px 24px;
    filter: drop-shadow(-5px 5px 45px rgba(2, 18, 6, 0.15));
    background-color: #ffffff;
    border-radius: 6px;
    margin-bottom: 35px;
    & input {
      width: 100%;
      opacity: 0.5;
      font-size: 18px;
      line-height: 150%;
    }
  }
  &__button {
    min-height: 53px;
    padding: 0px 33px;
    font-size: 21px;
    font-weight: 500;
    line-height: 147%;
  }
  &__link {
  }
  &__downloads {
    display: flex;
    & img {
      margin-right: 30px;
    }
  }

  &__image {
    margin-right: -220px;
    @media screen and (max-width: 1382px) {
      margin-right: 0px;
      max-width: 700px;

      & img {
        width: 100%;
      }
    }
  }
}
//-------------------------------
