// main text variables
$fontSizeMain: 14px;
$fontColorMain: #252b42;
$fontFamilyMain: Montserrat;
$fontWeightMain: 500;

//breakpoints variables
$breakpoint-smallDesc: 992px;
$breakpoint-Ipad: 768px;

//Menu styles variables
$fontColorMenu: #737373;

//Base colors
$YellowSubColor: #fbf46d;
$greenSubColor: #b4fe98;
$tealMainColor: #77e4d4;
$purpleMainColor: #998ceb;
